{% extends "base.html" %}
{% block content %}

<h1>NOTE 4 - Nhạc thường xuyên nghe</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a href="https://www.youtube.com/watch?v=S_rbbR7jcr4">obsessed - sped up</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="https://www.youtube.com/watch?v=yka6mulGMmU">Die For You</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="https://www.youtube.com/watch?v=e-ORhEE9VVg">Blank Space</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td><a href="https://www.youtube.com/watch?v=6fzH7a3XQW0">Thôi Em Đừng Đi</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="https://www.youtube.com/watch?v=U0Vr1zotKIo">TẠI VÌ SAO</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="https://www.youtube.com/watch?v=oXsal8_683M">Pano</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><a href="https://www.youtube.com/watch?v=ssIiBm0ORuI">LIMBO</a></td>
        </tr>
        </tbody>
  </table>
{% endblock %}