{% extends "base.html" %}
{% block content %}
    <h1>THÔNG TIN LIÊN HỆ</h1>
    <p>Chào pạn !!! </p>
    <p>Nếu có bất kỳ thắc mắc hoặc câu hỏi nào thì có thể liên hệ cho tôi theo thông tin bên dưới.</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">---</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>Huỳnh Thế Hào</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>thehao210502@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">Github</th>
            <td>https://github.com/ZioS202</td>
        </tr>
        </tbody>
  </table>
{% endblock %}