{% extends "base.html" %}
{% block content %}

<h1>NOTE 2 - MEME nhắn tin</h1>
<br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ m1 }}" alt="Image 1" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m2 }}" alt="Image 2" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m3 }}" alt="Image 3" class="img-fluid">
        </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ m4 }}" alt="Image 4" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m5 }}" alt="Image 5" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m6 }}" alt="Image 6" class="img-fluid">
        </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ m7 }}" alt="Image 7" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m8 }}" alt="Image 8" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m9 }}" alt="Image 9" class="img-fluid">
        </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ m10 }}" alt="Image 10" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m11 }}" alt="Image 11" class="img-fluid">
        </div>
        <div class="col-md-4">
            <img src="{{ m12 }}" alt="Image 12" class="img-fluid">
        </div>
{% endblock %}